.NewMemberForm {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  .NewMemberForm label {
    text-align: left;
    display: block;
  }
  .NewMemberForm h2 {
    font-size: 20px;
    color: #183d81;
    margin-bottom: 30px;
  }

  .commentbtn label {
    font-size: 20px;
    color: #183d81;
    margin-bottom: 30px;
  }
  .NewMemberForm input, .NewMemberForm textarea, .NewMemberForm select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
  }
  .NewMemberForm input {
    background: #183d81;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

 * {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  font-size: 20px
} 

.headerbar {
  /* position: fixed;  */
  padding: -10px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 5px solid #614e423a;
  /* box-shadow: 0 8px 16px 0 rgba(218, 31, 31, 0.685); */
}
.headerbar h1 {
  color: #5a5a64;
}
.headerbar .headerbar {
  margin-left: auto;
}
.headerbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.headerbar {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
}


* button {
  margin: 0;
  font-family: "Quicksand";
  color: rgb(11, 12, 90);
  font-size: 20px
} 




.commentbtn {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  .commentbtn label {
    text-align: left;
    display: block;
  }
  .commentbtn h2 {
    font-size: 20px;
    color: #183d81;
    margin-bottom: 30px;
  }
  .commentbtn input, .commentbtn textarea, .commentbtn select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid rgba(221, 221, 221, 0.911);
    box-sizing: border-box;
    display: block;
  }
  .commentbtn input {
    background: #f1356d;
    color: rgba(24, 5, 58, 0);
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }
  /* #judge */

  .trainer {
    display: flex;
    margin: 10px 0px;
  }

  .trainer img {
    margin-right: 10px;
  }

  .gymContainer {
    display: flex;
    flex-flow: row wrap;
  }

  .gymCard {
    flex: 0 0 33%;
    text-align: center;
  }

  .gymCard ul  {
    list-style: none;
    padding: 0;
  }



  /* trainer bbtn */

  #bioBttn input {
    background: #183d81;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }
  