.NewMemberForm {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  .NewMemberForm label {
    text-align: left;
    display: block;
  }
  .NewMemberForm h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
  }
  .NewMemberForm input, .NewMemberForm textarea, .NewMemberForm select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
  }
  .NewMemberForm input {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
 /* *{
  margin: 0;
  font-family: "Quicksand";
  color: #333;
} */

.headerbar {
  /* position: fixed;  */
  padding: 500px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 5px solid #614e423a;
  /* box-shadow: 0 8px 16px 0 rgba(218, 31, 31, 0.685); */
}
.headerbar h1 {
  color: #5a5a64;
}
.headerbar .headerbar {
  margin-left: auto;
}
.headerbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.headerbar:hover {
  color: #3548f1;
  border-bottom: 10px
}
.headerbar {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
}
